services:
  db:
    profiles:
      - catalog
      - production
    image: mysql:8
    restart: always
    env_file:
      - .env
    volumes:
      - db:/var/lib/mysql
    networks:
      - splice
    expose:
      - '3306'
    ports:
      - '127.0.0.1:3306:3306'
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  meilisearch:
    image: getmeili/meilisearch:latest
    container_name: meilisearch
    profiles:
      - catalog 
      - production
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY} 
    volumes:
      - meili_data:/meili_data
    expose:
      - '7700'
    ports:
      - '127.0.0.1:7700:7700'
    networks:
      - splice
    healthcheck: 
      test: ["CMD", "curl", "-f", "http://localhost:7700/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  catalog:
    profiles:
      - catalog
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/app
      - /app/node_modules
    command: ["sh", "-c", "yarn migrate && yarn dev"]
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      meilisearch:
        condition: service_healthy
      # lti-validator:
        # condition: service_started
      chrome:
        condition: service_started
    ports:
      - '127.0.0.1:3000:3000'
      - '127.0.0.1:9229:9229'
    networks:
      - splice
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000']
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s

  chrome:
    profiles:
      - catalog
      - production
    image: browserless/chrome:latest
    ports:
      - '127.0.0.1:3001:3000'
    networks:
      - splice

  prod:
    profiles:
      - production
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file:
      - .env
    restart: always
    entrypoint: ["pm2-runtime", "./process.yml"]
    depends_on:
      db:
        condition: service_healthy
      # lti-validator:
        # condition: service_healthy
    volumes:
      - staticvolume:/home/deploy/app/dist/public
      - ./uploads:/home/deploy/app/uploads
    ports:
      - '127.0.0.1:3000:3000'
    networks:
      - splice
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000']
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s

  nginx:
    profiles:
      - production
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    command: ['nginx', '-g', 'daemon off;']
    volumes:
      - ./certs:/etc/certs
      - staticvolume:/collected-static
    ports:
      - 80:80
      - 443:443
    depends_on:
      - prod
    networks:
      - splice

  lti-validator:
    build:
      context: ./src/lti-microservice
    ports:
      - "127.0.0.1:4000:4000"
    networks:
      - splice
    restart: always
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:4000/validate']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

volumes:
  db:
  staticvolume:
  meili_data:

networks:
  splice:

