NODE_ENV=development
APP_PORT=3000
DB_HOST=db
DB_PORT=3306
DB_USERNAME=splice
DB_PASSWORD=splice
DB_DATABASE=splice
ORM_LOGGING=true
MYSQL_ROOT_PASSWORD=splice
MYSQL_DATABASE=splice 
MYSQL_USER=splice
MYSQL_PASSWORD=splice
SECRET=5823b8cf2d8bff3d91c8cbe83f716e869a63869032a6a87c990efe54416191de
baseURL=http://localhost:3000
clientID=TODO
issuerBaseURL=TODO