NODE_ENV=development
APP_PORT=3000
DB_HOST=db
DB_PORT=3306
DB_USERNAME=splice
DB_PASSWORD=splice
DB_DATABASE=splice
ORM_LOGGING=true
MYSQL_ROOT_PASSWORD=splice
MYSQL_DATABASE=splice 
MYSQL_USER=splice
MYSQL_PASSWORD=splice