NODE_ENV=development
APP_PORT=3000
DB_HOST=db
DB_PORT=3306
DB_USERNAME=splice
DB_PASSWORD=splice
DB_DATABASE=splice
ORM_LOGGING=true
MYSQL_ROOT_PASSWORD=splice
MYSQL_DATABASE=splice
MYSQL_USER=splice
MYSQL_PASSWORD=splice
SECRET=9Bdckg_SbfnaA417dTkhGvTQ6GzWywLQx4KX96kXnNduoEoGEeecQSACeZR-8Mp8
baseURL=http://localhost:3000
clientID=W8TmNqdgeHOtAfFE1ukbDEHOvWf23D3B
issuerBaseURL=https://dev-orxpjchopjx5hhir.us.auth0.com
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=masterKey123
