.hero-image {
  background-image: url('/images/splice1.jpg');
  height: 70vh;
  margin-top: -2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay on splice image  */
  z-index: -1;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Statistics Section */
.statistics {
  padding: 2rem 0;
  background-color: #f8f9fa; /* Light background for the statistics area */
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
}

.statistics .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 2rem;
  padding: 1rem;
  text-align: center;
}

.statistics .grid-item {
  background: white;
  padding: 2rem 1rem;
  border-radius: 10px; /* Rounded corners for cards, #not working review */
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden; /*  pseudo-elements do not overflow */
}

.statistics .grid-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-color: #007bff;
  transform: skewX(-45deg) translateX(0); /* Initial state off-screen */
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.statistics .grid-item:hover::before {
  transform: skewX(-45deg) translateX(200%); /* Hover state moving effect, not showing yet, review */
}

.statistics .grid-item h3 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
  z-index: 1;
  position: relative; /* Ensures the text is above the element */
}

.statistics .grid-item p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #6c757d;
  z-index: 1;
  position: relative; /* Ensures the text is above the element */
}

/* Responsive Adjust, grid layout for smaller screens */
@media (max-width: 768px) {
  .statistics .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
