<!DOCTYPE html>
<html>
  <%- include('../partials/head') -%>
  <link rel="stylesheet" href="/css/style.css">
  <%- include('../partials/header') -%>
  <body>
    <div class="container mt-5">
      <h1>About the SPLICE Catalog</h1>
      <p class="intro-text">
        The SPLICE Catalog supports the CS Education community by
        providing access to free-to-use resources for education and
        research.
        The focus is on Smart Learning Content, generally meaning
        interactive visualizations, demonstrations, and exercises.
        There are also catalogs listing free-to-use tools for building
        and bundling SLC items, and datasets for researchers
        presenting data related to student use of SLC.
      </p>

      <h2>SPLICE Mission</h2>
      <p>
        The SPLICE project seeks to foster innovation and collaboration by:
      </p>
      <ul>
        <li>Promoting the development and reuse of instrumented learning content for rich data collection.</li>
        <li>Providing formats and tools for analyzing learner data.</li>
        <li>Encouraging best practices in making learner data and analytics accessible to researchers.</li>
      </ul>
      <p>
        For more information on the SPLICE project, see the
        <a href="https://cssplice.org/">SPLICE Project Homepage</a>.
      </p>
      
      <h2>What We Offer</h2>
      <p>
        The SPLICE Catalog provides resources and documentation to help educators, researchers, and developers integrate advanced learning technologies with ease. Key resources include:
      </p>
      <ul>
        <li>The <a href="/catalog">Smart Learning Content Catalog</a>,
          organized by institution, domain, and feature type, and tool.
          It is searchable by keyword.</li>
        <li>The <a href="/datasetcatalog">Dataset Catalog</a> for
          educational research and corresponding analytics tools.</li>
        <li>The <a href="/toolcatalog">Tool Catalog</a> of free-to-use
          tools for building and bundling SLC items.</li>
        <li>Ontologies for keywords and SLC item feature types.</li>
      </ul>

      <h2>Community and Support</h2>
      <p>
        SPLICE fosters a collaborative community through working
        groups, Google Groups, and workshops. See the SPLICE homepage
        for details on how to get involved.
      </p>

      <p>
        If you are a developer of free-to-use CS SLC or software, you
        are encouraged to contribute to the SPLICE Catalog.
        See the <a href="/instructions/">Catalog Submissions Page</a>
        for details.
      </p>

      <p>
        SPLICE
        is <a href="https://cssplice.org/support.html">supported</a>
        by the National Science Foundation and Virginia Tech’s
        Technology-enhanced Learning and Online Strategies unit.
      </p>
    </div>
  </body>
  <%- include('../partials/footer') -%>
  <!-- Bootstrap JS bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</html>
