<!DOCTYPE html>
<html>
<%- include('../partials/head') -%>
<link rel="stylesheet" href="/css/style.css">
<%- include('../partials/header') -%>
<body>
    <div class="container">
      <p class="intro-text">The SPLICE Catalog is a part of the
        <a href="https://cssplice.org">SPLICE project</a>.
        SPLICE's mission is to support the CS Education community by
        supplying documentation and infrastructure to help with
        adopting shared standards, protocols, and tools.
        You can stay in contact with the SPLICE project by joining the
        Google Group at
        <a href="https://groups.google.com/g/cssplice">
          https://groups.google.com/g/cssplice</a>.
      </p>

      <p>
        The SPLICE Catalog contains a number of sub-catalogs.
        <ul>
          <li>The Smart Learning Content catalog contains interactive
            exercises and presentations from many contributors. A key
            feature of the SLC catalog is that you can actually see and
            try the various entries right in the catalog entry
            page.</li>
          <li>The Tools catalog describes the various tools that are
            represented by entries in the SLC catalog.</li>
          <li>The Dataset catalog presents publicly available
            educational datasets.</li>
        </ul>

        <p>If you would like to contribute entries to any of the
          SPLICE Catalogs, please see the Submissions page.
          We accept submissions both via direct download and through
          an API. To be white-listed for contributions, please contact
          us at
          <a href="mailto:cssplice@gmail.com">cssplice@gmail.com</a>.
        </p>
          
    </div>
</body>
<%- include('../partials/footer') -%>
<!-- Bootstrap JS bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</html>
