<!-- views/pages/ontologyTiles.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/ontologyTiles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="container">
    <h4>Catalog Search Vision and the SPLICE Ontology</h4>
    <p>
      As of this writing, the SPLICE SLC Content Catalog supports two
      types of search: Limited filtered search by certain fields
      (tools and features) with check boxes, and a basic general text
      search through the search box at the top of the page.
    </p>

    <p>
      Ultimately, we hope to support a richer search mechanism.
      This will include filtered search by clicking on a collection of
      check boxes for some fields where that makes sense.
      We also plan to include a much richer full-text search from the
      full database.
      But the main innovation that we plan for is an ontology-based
      search on either of two important fields: The keywords and the
      features.
    </p>
    
    <p>
      What makes ontology-based search important is that an ontology
      is a hierarchical arrangement of a collection of specific terms,
      meaning that the terms are organized into a directed-acyclic
      graph (DAG).
      This is important because it means that a good search tool will
      let users browse up and down the DAG to discover terms, and
      ultimately more easily discover content that they are interested
      in.
      For example, you might know that you are interested in search
      trees, but don't know the terms for specific instances of search
      trees.
      Keyword search won't help you out unless the individual records
      include all the specific keywords that might be relevant, such
      as having both Red-Black Trees and Search Trees.
      Typically, content contributors to the catalog will provide the
      more specific terms, but not the general terms.
    </p>

    <p>
      Another example might be if a catalog visitor wants to see all
      exercises from a given tool.
      With a view of the ontology graph, users could then browse down
      to see specific types of exercises even if they didn't know in
      advance which ones are available.
    </p>
    
      
    <p>
      You can find more information about the current status of the
      SPLICE ontology development efforts at the
      <a href="https://cssplice.org/portal/index.html">
        SPLICE Portal Working Group page</a>.
    </p>

    </p>
    <!-- Breadcrumb container -->
    <div class="breadcrumb-container breadcrumb"></div>
    <!-- Tiles container -->
    <div id="ontology-container">
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/ontologyTiles.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
<%- include('../partials/footer') %>
</html>
