<!-- views/pages/ontologyTiles.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/ontologyTiles.css">
</head>
<body>
  <%- include('../partials/header') %>
  <div class="container">
    <h4>SPLICE Ontology</h4>
    <p>
      Welcome to the SPLICE Ontology! This ontology is integrated into our Catalog. The Catalog is organized with keywords from the ontology on the tiles, explore and delve deeper into specific topics. 
      The keywords from the ontology can be used to search the SPLICE Catalog, helping you find exactly what you're looking for. 
      The ontology is a Directed Acyclic Graph (DAG), it provides a structured way to navigate through the Catalog to see related content as well. 
      You can view the OWL graph <a href="[https://webprotege.stanford.edu/#projects/c1bf6baa-c45a-449d-8171-a5e2671b84ab/edit/Classes">here</a>.
      
    </p>
    <!-- Breadcrumb container -->
    <div class="breadcrumb-container breadcrumb"></div>
    <!-- Tiles container -->
    <div id="ontology-container">
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/ontologyTiles.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
<%- include('../partials/footer') %>
</html>