<!DOCTYPE html>
<html>
<%- include('../partials/head') -%>
<%- include('../partials/header') -%>
<body>
    <div class="container">
        <h1 class="header">Profile</h1>
        <h1 class="header">Welcome <%= user.nickname %></h1>
    </div>
</body>
<%- include('../partials/footer') -%>
</html>